[package]
name = "mdbook-catppuccin"
authors = ["Goudham Suresh <sgoudham@gmail.com>", "winston <hey@winston.sh>"]
description = "A mdbook preprocessor that exposes the catppuccin flavours as available themes!"
version = "0.1.1"
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/catppuccin/mdBook"
keywords = ["mdbook", "markdown", "catppuccin", "preprocessor", "plugin"]
exclude = [".github/**"]

[[bin]]
name = "mdbook-catppuccin"
path = "src/bin/mdbook-catppuccin.rs"

[lib]
name = "mdbook_catppuccin"
path = "src/lib.rs"

[dependencies]
clap = "3.2.22"
mdbook = "0.4.21"
env_logger = "0.9.2"
log = "0.4.17"
semver = "1.0.14"
serde_json = "1.0.87"
toml_edit = "0.15.0"
version-compare = "0.1.1"
