@use "@catppuccin/palette/scss/catppuccin";
@use "@catppuccin/highlightjs/sass/_theme" as hljs;

@each $flavour, $colour in catppuccin.$palette {
  .#{$flavour} {
    @include hljs.highlights($flavour, "hex");
    code {
      color: map-get($colour, "text");
      background: map-get($colour, "mantle");
    }
    .ace_gutter {
      color: map-get($colour, "overlay1");
      background: map-get($colour, "mantle");
    }
    .ace_gutter-active-line.ace_gutter-cell {
      color: map-get($colour, "pink");
      background: map-get($colour, "mantle");
    }
  }
}
