// FIXME: Go upstream to catppuccin/highlightjs and fix the problem OR alteast understand the problem right now
// The problem is that `.mocha code.hljs` is overriding the colours but `.mocha code` works perfectly
// Until then, make sure you manually edit the files to remove that properly

@use "@catppuccin/palette/scss/catppuccin";

.mocha {
  @import "@catppuccin/highlightjs/sass/catppuccin-mocha";
}
.macchiato {
  @import "@catppuccin/highlightjs/sass/catppuccin-macchiato";
}
.frappe {
  @import "@catppuccin/highlightjs/sass/catppuccin-frappe";
}
.latte {
  @import "@catppuccin/highlightjs/sass/catppuccin-latte";
}

@each $flavour, $colour in catppuccin.$palette {
  .#{$flavour} {
    code {
      color: map-get($colour, "subtext0");
      background: map-get($colour, "mantle");
    }
    .ace_gutter {
      color: map-get($colour, "overlay1");
      background: map-get($colour, "mantle");
    }
    .ace_gutter-active-line.ace_gutter-cell {
      color: map-get($colour, "pink");
      background: map-get($colour, "mantle");
    }
  }
}