@use "flavours/catppuccin" as catppuccin;

@each $flavour, $color in catppuccin.$palette {
    .#{$flavour} {
        code,
        .hljs {
            background: #{map-get($color, "mantle")};
        }

        code {
            .hljs-attr,
            .hljs-string {
                color: #{map-get($color, "green")};
            }

            .hljs-tag {
                color: #{map-get($color, "red")};
            }

            .hljs-name {
                color: #{map-get($color, "flamingo")};
            }
        }

        pre {
            .hljs {
                background: #{map-get($color, "mantle")} !important;
            }

            .hljs-params {
                color: #{map-get($color, "red")} !important;
            }

            .hljs-built_in,
            .hljs-selector-tag,
            .hljs-section,
            .hljs-link {
                color: #{map-get($color, "sapphire")} !important;
            }

            .hljs-keyword {
                color: #{map-get($color, "mauve")} !important;
            }

            .hljs,
            .hljs-subst {
                color: #{map-get($color, "subtext0")} !important;
            }

            .hljs-title {
                color: #{map-get($color, "blue")} !important;
            }

            .hljs-attr,
            .hljs-meta-keyword {
                color: #{map-get($color, "green")} !important;
            }

            .hljs-type {
                color: #{map-get($color, "blue")} !important;
            }

            .hljs-string {
                color: #{map-get($color, "green")} !important;
            }

            .hljs-tag {
                color: #{map-get($color, "red")} !important;
            }

            .hljs-meta,
            .hljs-name,
            .hljs-symbol,
            .hljs-bullet,
            .hljs-addition,
            .hljs-variable,
            .hljs-template-tag,
            .hljs-template-variable {
                color: #{map-get($color, "flamingo")} !important;
            }

            .hljs-addition {
                background-color: #{map-get($color, "mantle")} !important;
                color: #{map-get($color, "green")} !important;
            }

            .hljs-deletion {
                background-color: #{map-get($color, "mantle")} !important;
                color: #{map-get($color, "red")} !important;
            }

            .hljs-comment,
            .hljs-quote {
                color: #{map-get($color, "surface2")} !important;
            }

            .hljs-keyword,
            .hljs-selector-tag,
            .hljs-literal,
            .hljs-title,
            .hljs-section,
            .hljs-doctag,
            .hljs-type,
            .hljs-name,
            .hljs-strong {
                font-weight: bold !important;
            }

            .hljs-literal,
            .hljs-number {
                color: #{map-get($color, "peach")} !important;
            }

            .hljs-emphasis {
                font-style: italic !important;
            }
        }
    }
}
