@use "sass:map";
@use "@catppuccin/palette/scss/catppuccin" as catppuccin;

@each $flavor, $colors in catppuccin.$palette {
  .#{$flavor} {
    .mdbook-alerts-note {
      --mdbook-alerts-color: #{map.get($colors, "blue")};
    }
    .mdbook-alerts-tip {
      --mdbook-alerts-color: #{map.get($colors, "green")};
    }
    .mdbook-alerts-important {
      --mdbook-alerts-color: #{map.get($colors, "mauve")};
    }
    .mdbook-alerts-warning {
      --mdbook-alerts-color: #{map.get($colors, "yellow")};
    }
    .mdbook-alerts-caution {
      --mdbook-alerts-color: #{map.get($colors, "red")};
    }
  }
}
