@use "sass:map";
@use "@catppuccin/palette/scss/catppuccin" as catppuccin;
@use "@catppuccin/highlightjs/sass/_theme" as hljs;

@mixin generate-clipboard-icon-filters($flavor) {
  @if $flavor == "latte" {
    --copy-button-filter: invert(71%)
      sepia(8%)
      saturate(435%)
      hue-rotate(191deg)
      brightness(90%)
      contrast(88%);
    --copy-button-filter-hover: invert(27%)
      sepia(98%)
      saturate(1766%)
      hue-rotate(211deg)
      brightness(96%)
      contrast(100%);
  } @else if $flavor == "frappe" {
    --copy-button-filter: invert(51%)
      sepia(22%)
      saturate(392%)
      hue-rotate(192deg)
      brightness(88%)
      contrast(89%);
    --copy-button-filter-hover: invert(64%)
      sepia(43%)
      saturate(414%)
      hue-rotate(185deg)
      brightness(98%)
      contrast(91%);
  } @else if $flavor == "macchiato" {
    --copy-button-filter: invert(50%)
      sepia(14%)
      saturate(616%)
      hue-rotate(193deg)
      brightness(87%)
      contrast(87%);
    --copy-button-filter-hover: invert(64%)
      sepia(13%)
      saturate(1528%)
      hue-rotate(186deg)
      brightness(105%)
      contrast(91%);
  } @else if $flavor == "mocha" {
    --copy-button-filter: invert(44%)
      sepia(10%)
      saturate(814%)
      hue-rotate(193deg)
      brightness(96%)
      contrast(81%);
    --copy-button-filter-hover: invert(68%)
      sepia(11%)
      saturate(2148%)
      hue-rotate(187deg)
      brightness(103%)
      contrast(96%);
  }
}

@each $flavor, $colors in catppuccin.$palette {
  .#{$flavor} {
    @include hljs.highlights($flavor);

    // Each heading is technically a link but
    // we don't want to highlight it as `blue`
    :is(h1, h2, h3, h4, h5, h6) {
      a code {
        color: map.get($colors, "text");
      }
    }
    a code {
      color: map.get($colors, "blue");
    }
    code {
      color: map.get($colors, "text");
      background: map.get($colors, "mantle");
    }
    blockquote {
      blockquote {
        border-top: 0.1em solid map.get($colors, "surface2");
        border-bottom: 0.1em solid map.get($colors, "surface2");
      }
    }
    hr {
      border-color: map.get($colors, "surface2");
      border-style: solid;
    }
    del {
      color: map.get($colors, "overlay2");
    }
    .ace_gutter {
      color: map.get($colors, "overlay1");
      background: map.get($colors, "mantle");
    }
    .ace_gutter-active-line.ace_gutter-cell {
      color: map.get($colors, "pink");
      background: map.get($colors, "mantle");
    }
    .tooltiptext {
      background: map.get($colors, "mantle");
      color: map.get($colors, "text");
    }
  }
}

@each $flavor, $colors in catppuccin.$palette {
  .#{$flavor} {
    --bg: #{map.get($colors, "base")};
    --fg: #{map.get($colors, "text")};
    --sidebar-bg: #{map.get($colors, "mantle")};
    --sidebar-fg: #{map.get($colors, "text")};
    --sidebar-non-existant: #{map.get($colors, "overlay0")};
    --sidebar-active: #{map.get($colors, "blue")};
    --sidebar-spacer: #{map.get($colors, "overlay0")};
    --scrollbar: #{map.get($colors, "overlay0")};
    --icons: #{map.get($colors, "overlay0")};
    --icons-hover: #{map.get($colors, "overlay2")};
    --links: #{map.get($colors, "blue")};
    --inline-code-color: #{map.get($colors, "text")};
    --theme-popup-bg: #{map.get($colors, "mantle")};
    --theme-popup-border: #{map.get($colors, "overlay0")};
    --theme-hover: #{map.get($colors, "surface0")};
    --quote-bg: #{map.get($colors, "mantle")};
    --quote-border: #{map.get($colors, "crust")};
    --table-border-color: #{map.get($colors, "surface0")};
    --table-header-bg: #{map.get($colors, "mantle")};
    --table-alternate-bg: #{map.get($colors, "mantle")};
    --searchbar-border-color: #{map.get($colors, "surface0")};
    --searchbar-bg: #{map.get($colors, "mantle")};
    --searchbar-fg: #{map.get($colors, "text")};
    --searchbar-shadow-color: #{map.get($colors, "crust")};
    --searchresults-header-fg: #{map.get($colors, "text")};
    --searchresults-border-color: #{map.get($colors, "surface0")};
    --searchresults-li-bg: #{map.get($colors, "base")};
    --search-mark-bg: #{map.get($colors, "peach")};
    --warning-border: #{map.get($colors, "peach")};
    --color-scheme: #{if($flavor == "latte", "light", "dark")};

    @include generate-clipboard-icon-filters($flavor);
  }
}
