name: website

on:
  workflow_dispatch:

jobs:
  build-website:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./example
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: "0.4.35"

      - name: Download mdbook-catppuccin
        run: |
          curl -sSL https://github.com/catppuccin/mdBook/releases/download/${{ env.VERSION }}/${{ env.TARGET }}.tar.gz | tar -xz
          echo `pwd`/${{ env.TARGET }} >> $GITHUB_PATH
        env:
          VERSION: "v2.0.1"
          TARGET: "mdbook-catppuccin-x86_64-unknown-linux-gnu"

      - name: Download mdbook-admonish
        run: |
          mkdir ${{ env.TARGET }}
          curl -sSL https://github.com/tommilligan/mdbook-admonish/releases/download/${{ env.VERSION }}/${{ env.TARGET }}.tar.gz | tar -xz --directory=${{ env.TARGET }}
          echo `pwd`/${{ env.TARGET }} >> $GITHUB_PATH
        env:
          VERSION: "v1.13.0"
          TARGET: "mdbook-admonish-v1.13.0-x86_64-unknown-linux-gnu"

      - name: Build mdBook
        run: |
          mdbook-admonish install
          mdbook-catppuccin install
          mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./example/book
          exclude_assets: ".github,**/.gitignore"
