name: website

on:
  workflow_dispatch:

jobs:
  website:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    defaults:
      run:
        working-directory: ./example
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "0.4.40"

      - name: Install Catppuccin CSS
        run: |
          curl -LOSs --output-dir ./theme https://github.com/catppuccin/mdBook/releases/download/v3.0.1/catppuccin.css
          curl -LOSs --output-dir ./theme https://github.com/catppuccin/mdBook/releases/download/v3.0.1/catppuccin-admonish.css

      - name: Build mdBook
        run: |
          mdbook build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "book/"

      - name: Deploy artifact to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
